{
    "env": {
        "es6": true,
        "jest": true,
        "node": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "prettier/prettier": "error"
    },

    "plugins": [
        "jest",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    }
}